# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 02863b42395ccaab734bbd4a96d8b8918bb8e60cf1cca8e8855d1d344a93f1aa2e76751ac071ef950a3acdc7900bda416e9d00fc11d5a89759a2d8b92581013a

test:
  secret_key_base: 07b35cc25a8ec0f49b90222c2c568069f9200109b5384fabbf7330033259c28809193d127e0182e81a6c75359c7043298ae9752452c8a9a5c9e26e68c12547dd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>