<!DOCTYPE html>
<html ng-app="zurvives">
<head>
  <title>Zurvives</title>
  <meta name="viewport" content="initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application','app' %>
  <script src="http://localhost:8000/socket.io/socket.io.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
